@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root{
    --color-neutral-0:#0e0c0c;
    --color-neutral-10:#171717;
    --color-neutral-30:#a8a29e;
    --color-neutral-40:#f5f5f5;
}
*{
  font-family: 'Inter',sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;

}  


.back01 {
  height: calc(100vh - 70px);
  background-image: url(img/back01.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}
a {
  font-family: sans-serif;
  text-decoration: none;
}
.header {
  margin-top: 30px;
  background: #20080be9;   
  padding-right: 30px;
  /* para afastar o icone de hamburguer  em tela reduzida */
}

.logo {
  height: 130px;/*altura da logo */
  border-radius: 0px 15px  15px 0px;
  left: 50px;   
  min-width: 20%;
  max-width: 40%;
  
}

.nav {
  width: 100%;
  height: 90px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 150px;/*altura da logo */
  border-radius: 0px 15px  15px 0px;
  left: 0%; 
}
.icon{
  margin-top: 10%;
  height: 35px;/*altura da logo */
  align-items: center;
  justify-content: center;
  display: flex;
  border: none;
}

h5{
   /* texto da index */
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-indent: 1rem;
  height: 50%;
  width: 50%;
  position: relative;
 
}
.nav-list {
  width: 90%;
  display: flex;
  gap: 32px;  /* Espaço entre os intens da menu */
  list-style: none;
  align-items: center;
  justify-content: space-around;
  display: flex;
  margin-left: 30px; /* Espaço entre  a log e a home os intens da menu */
  }
.nav-list a {
  font-size: 22px;
  color: #fff;
}
.hero {
  height: calc(100vh - 70px);
}
.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #eae4e4;
  cursor: pointer;
}
.hamburger::after,
.hamburger::before {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #eae4e4;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}
.search-icon {/* posição da lupa */
  position: absolute; 
  transform: rotate(85deg);
  cursor: pointer;  
}
.lupa{/* tamanho da lupa */
  width: 20px;
  position: relative;  
  margin-left: 5px;  
}
.search-input {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 40px;/* onde o cursor começa na busca */
  transition: all 0.7s;
  background-color:#20080be9;
  color: white;
  font-size: 20px;
}
.search-input:hover {  
  transition: all 0.7s;
  background-color: #20080be9;
}
.search-input:focus {  
  box-shadow: 3px 3px 5px #eae4e4;
}



/*aqui começa o codigo do carrinho*/

@import url('https://fonts.googleapis.com/css2?family=display=swap');

*{
    margin: 0;
    padding: 0;
}


    #principal {
    color: rgb(91, 38, 37);
    text-align: center;
    font-size: 20px;
    padding-bottom: 25px;
    
  }


  body {
    background-color: white;
    font-family: 'Lato', sans-serif;
  }

 main {
  background: #fff;
  padding: 0 30px;

  .content {
    display: flex; /*jogou a box de resumo de compras para o lado direito*/

    section {
      flex: 1;/* faz com que o elemento assuma o maximo de largura fazendo com que a box de resumo de compras fique para a direita*/
    }

   
   }
 }
   
 table {
  width: 100%; /*para a tabela assumir o tamanho total*/
  border-collapse: collapse;

  thead {
    tr {
        border-bottom: 3px solid#eee;
      th {
        text-align: left; /*texto para a esquerda*/
        padding-bottom: 10px; /*deixa uma lista*/
        text-transform: uppercase; /*para deixar o texto maiusculo*/
        color: gray;
      }
    }
  }
  tbody{
    tr {
      border-bottom: 3px solid#eee;
      td {
        padding: 30px 0;
      }
      
    }
  }  
}

.product {
  display: flex;
  align-items: center;
}


  .info {
      margin-left: 15px;
    
  }
 
.name {
  color: black;
  font-size: 15px;
  font-weight: bold; 
  
}

.category {
  color: rgb(92, 21, 21);
  font-size: 13px;
  font-weight: bold; 
}

.qty {
  background: #eee;
  display: inline;
  padding: 0 0;
  justify-content: space-around;
  min-width: 60px;
  border-radius: 20px;
  overflow: hidden;
  height: 30px;

  span {
    margin: 0 10px;
  }

  button { 
    align-items: center;
    background: transparent;
    border: none; /*para tirar a borda do botao de + e - */
    font-size: 15px;
    padding: 0 5px;
    height: 100%;
    border-radius: 10px; /*para arredondar as bordas*/
    
    &:hover {
      background: #ddd;
    }
  }
}

.delete {
  border: 0;
  background: #eee;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center; /*faz com q p icone fique no meio x*/
  font-size: 20px;
  cursor: pointer;

  &:hover {
    background: #ddd;
  }
}

.box {

h2 {
  font-size: 15px;
  color: #3b0f14;
  text-align: center;
 }
 span {
  font-size: 15px;
 }
 
}

.total {
  span {
    font-size: 17px;
    color: black;
  }
}


aside {
  background: rgb(227, 224, 224);
  min-width: 240px;
  max-height: 200px;
  border-radius: 10px;
  margin: 15px 10px 15px 15px; /*espaçamento bordas*/
  padding: 20px;

  button {
    background: rgb(94, 179, 94);
    color: white;
    border: 0;
    padding: 5px ;
    display: block;
    text-transform: uppercase;
  }
 }

 






  @media (max-width: 760px) {
    .hamburger {
      display: block;
      z-index: 1;
    }
    .nav-list {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background:#3b0f14;
      clip-path: circle(100px at 90% -15%);
      transition: 1s ease-out;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 0;
      pointer-events: none;
    }
    .nav-list a {
      font-size: 24px;
      opacity: 0;
    }
    .nav-list li:nth-child(1) a {
      transition: 0.5s 0.2s;
    }
    .nav-list li:nth-child(2) a {
      transition: 0.5s 0.4s;
    }
    .nav-list li:nth-child(3) a {
      transition: 0.5s 0.6s;
    }
    .nav.active .nav-list {
      clip-path: circle(1500px at 90% -15%);
      pointer-events: all;
    }
    .nav.active .nav-list a {
      opacity: 1;
    }
    .nav.active .hamburger {
      position: fixed;
      top: 26px;
      right: 16px;
      border-top-color: transparent;
    }
    .nav.active .hamburger::before {
      transform: rotate(135deg);
    }
    .nav.active .hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }
  
  /* inicio form footer */
  footer{
    width: 100%;
    color: var(--color-neutral-40);

}

.footer_link{
  text-decoration: none;
}

footer .logo_redonda{
  width: 150px;
  position: relative;
  left: 5%;
  top: -15%;
 
}
.footer_paragrafo{
  color: red;
}
#footer_content{
  background-color: var(--color-neutral-10);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}
#footer_contacts p{
  margin-left: 0px;
  height: 30px;

  
}
#footer_social_media{
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

}
#footer_social_media .footer_link{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width:  2.5rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
  transition: all 0.4s;

  
}
#menor_idade{
  height: 2.5rem;
  width:  2.5rem;
  border-radius: 50%;
}
#footer_social_media .footer_link{
  font-size: 1.50rem;
}    
#footer_social_media .footer_link:hover{
  opacity: 0.8;
  
}

#instagram{
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}
#facebook{
  background-color: #4267b3;
}
#whatsapp{
  background-color: #25d362;
}
.footer_list{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;

}
.footer_list .footer_link{
  color: var(--color-neutral-30);
  
}
.footer_list .footer_link:hover{
  color:#7f37c9 ;
  transition: all 0.4s;


}
#footer_subscribe{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  
}
#footer_subscribe p{
  /* horario de atendimento */
  color: var(--color-neutral-30);
  font-family: 'Inter',sans-serif;
  font-size: 16px;
 

}
#input_group{
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-0);
  border-radius: 4px;

}
#input_group input{
  all: unset;
  padding: 0.75rem;
  width: 100%;
  
}

#input_group button{
  background-color: #7f37c9;
  border: none;
  color: var(--color-neutral-40);
  padding: 0px 1.25rem;
  font-size: 1.5rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}  
#input_group button:hover{
    
  opacity: 0.8;

}

#footer_copyright{
  display: flex;
  justify-content: center;    
  background-color: var(--color-neutral-0);
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}  


@media screen and (max-width:768px) {
  #footer_content{
      grid-template-columns: repeat(2,1fr);
      gap: 2rem
  }
}
@media screen and (max-width:426px) {
  #footer_content{
      grid-template-columns: repeat(1,1fr);
      padding: 3rem 2rem;
  }
}








