body {
    /* Aplica um degradê de cores vermelhas como fundo da página */
    background-image: linear-gradient(to bottom, #800020, #c90038);
    color: #fff; /* Cor do texto */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative; /* Define posição relativa para permitir posicionamento absoluto do botão */
}

h2 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.details {
    background-color: #800020; /* Vermelho cor de vinho para detalhes de faturamento e pagamento */
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

/* Estilo para o botão "Finalizar Compra" */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #800020; /* Cor de fundo padrão (vermelho cor de vinho) */
    color: #fff; /* Cor do texto */
    cursor: pointer;
}

/* Estilo para o botão "Finalizar Compra" quando hover */
input[type="submit"]:hover {
    background-color: #007bff; /* Cor de fundo azul quando hover */
}

/* Estilo para o botão "Voltar para o Carrinho" */
.btn-back {
    position: fixed;
    top: 20px; /* Distância do topo da janela */
    left: 20px; /* Distância da margem esquerda */
    padding: 10px 20px;
    background-color: #007bff; /* Cor de fundo azul */
    color: #fff; /* Cor do texto */
    text-decoration: none; /* Remove sublinhado do link */
    border-radius: 4px;
    z-index: 999; /* Define a camada de sobreposição */
}

/* Estilo para o botão "Voltar para o Carrinho" quando hover */
.btn-back:hover {
    background-color: #0056b3; /* Cor de fundo azul mais escura quando hover */
}

/* Estilo para a logo no canto superior direito */
.logo-link {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 35px; /* Defina a largura desejada para a logo */
    height: auto;
    border-radius: 50%; /* Para uma forma circular, se necessário */
}


.logo {
    width: 35px; /* Defina a largura desejada para a logo */
    height: auto;
    border-radius: 50%; /* Para uma forma circular, se necessário */
}
