h1 {
    color:  #384174;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin: 3%;
    padding: 0%;
}
h2{
    margin: 2%;
    font-size: 1.5;
}
h3{
font-size: 1.2;

}
main{
    margin: 0 auto;
}

section{

    background-color: #c7aab5;
}

section div{
    background-color: #863051;
    margin: 16px;
    padding: 24px;
    display: block;
height: 250px;
width: 400
px;
border-radius: 8px;
}
 
section div:first-of-type {
    margin-right: 16px;
    
}

  div p {
   background-color: #6b84bb;
   margin: 16px;
   padding: 12px;
   display: flex;
height: 250px;
width: 100%;
border-radius: 16px;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
text-align: center;
text-align: justify;
border: 1px solid #384174;
line-height: 18px;
margin-top: 40px;
}
