
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    color:black;
    line-height: 1.5;
}
.content {
background-color: #74384d;
width: 720px;
padding: 20px ;
margin: 20px auto 0 auto;
box-shadow: 0px 6px 10px;
border-radius: 5px;
}

.row {
    padding: 5px;
}

.buttons {
    text-align: center;
}

fieldset{
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    border-color: #c2c2c2;
    box-shadow: 2px 2px 2px #c2c2c2;
}

legend {
    font-size: 2rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #c2c2c2;
}


label:not([for="Casado"], [for="Solteiro"]){
    display: inline-block;
    width: 120px;
}

input {
    padding: 2px;
    outline: nome;
}

input[id="nome"],
input[id="Sobrenome"],
input[id="email"] {
    width: 480px;  
}

input[id="dtnasc"] {
    width: 180px;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[id="email"] {
    border: nome;
    border-bottom:  2px solid #74384d ;
    transition: 0,3s all ease-in-out
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="email"]:focus {
        color: #863051;
    font-weight: 600;
    letter-spacing: 1px;
    border-color: #74384d
}

textarea{
    padding: 10px;
    resize: nome;
    outline: name;
    width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
    margin-top: 10px;
    margin-bottom: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: nome;
    margin: 0;
}

input[type="submit"],
input[type="reset"] {
    padding: 5px 10px;
    background-color: #384174;
    border: nome;
    border-radius: 5px;
    color:#c2c2c2;
    transition: 0.3s all ease-in-out;
}
input[type="submit"]::backdrop hover,
input[type="reset"] hover {
    transform: scale(1.2);
}
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background: rgb(245,245,245);
background: radial-gradient(circle, rgba(245,245,245,1) 3%, rgba(134,48,81,1) 82%);
}
h1 {
    color:  #863051;
    font-size: 40px;
}


     

