@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root{
    --color-neutral-0:#0e0c0c;
    --color-neutral-10:#171717;
    --color-neutral-30:#a8a29e;
    --color-neutral-40:#f5f5f5;
}
*{
  font-family: 'Inter',sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;

}  


.back01 {
  height: calc(100vh - 70px);
  background-image: url(img/back01.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}
a {
  font-family: sans-serif;
  text-decoration: none;
}
.header {
  margin-top: 30px;
  background: #20080be9;   
  padding-right: 30px;
  /* para afastar o icone de hamburguer  em tela reduzida */
}
.nav {
  width: 100%;
  height: 90px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 150px;/*altura da logo */
  border-radius: 0px 15px  15px 0px;
  left: 0%; 
}
.icon{
  margin-top: 10%;
  height: 35px;/*altura da logo */
  align-items: center;
  justify-content: center;
  display: flex;
  border: none;
}

h5{
   /* texto da index */
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-indent: 1rem;
  height: 50%;
  width: 50%;
  position: relative;
 
}
.nav-list {
  width: 90%;
  display: flex;
  gap: 32px;  /* Espaço entre os intens da menu */
  list-style: none;
  align-items: center;
  justify-content: space-around;
  display: flex;
  }
.nav-list a {
  font-size: 22px;
  color: #fff;
}
.hero {
  height: calc(100vh - 70px);
}
.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #eae4e4;
  cursor: pointer;
}
.hamburger::after,
.hamburger::before {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #eae4e4;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}
.search-icon {/* posição da lupa */
  position: absolute; 
  transform: rotate(85deg);
  cursor: pointer;  
}
.lupa{/* tamanho da lupa */
  width: 20px;
  position: relative;  
  margin-left: 5px;  
}
.search-input {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 40px;/* onde o cursor começa na busca */
  transition: all 0.7s;
  background-color:#20080be9;
  color: white;
  font-size: 20px;
}
.search-input:hover {  
  transition: all 0.7s;
  background-color: #20080be9;
}
.search-input:focus {  
  box-shadow: 3px 3px 5px #eae4e4;
}
/* inicio form contato */
#contato{
  margin-right: 40%;  
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;  
}
.back02 {
  height: calc(100vh - 70px);
  background-image: url(img/back02.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}
section{
  position: relative;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 45px;
  background: #1d1d2e;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
section h2{
  color: #f5f5f5;
  font-size: 2.5rem;
  margin: 2rem;
}
section form{
  display: flex;
  flex-direction: column;
  width: 100%;
}
form.contato label{
  color: #f5f5f5;
  font-size: 17px;
  margin-bottom: 4px;
}
form.contato input {
  padding: 15px;
  outline: none;
  border: 0;
  margin-bottom: 25px;
  font-size: 15px;
  transition: all 0.5s;
  border-radius: 6px;
}
form.contato input:focus{
  border-radius: 16px;
}
form.contato textarea{
  padding: 10px;
  outline: none;
  border: 0;
  font-size: 15px;
  margin-bottom: 30px;
  border-radius: 6px;
  transition: all 0.5s;
}
form.contato textarea:focus{
  border-radius: 16px;
}
form.contato button{
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  background: transparent;
  border: 2px solid #f5f5f5;
  color: #f5f5f5;
  transition: all 1s;
  margin-bottom: 20px;
  border-radius: 5px;
}
form.contato button:hover{
  background: #f5f5f5;
  color: #101026;
  border-radius: 16px;
}
/* inicio botoes contato */
.botao_form {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;  
}
.btn_retornar :hover{  
  transition: 0.9s;
  color:#0e0d0d; 
  border: none;
  align-items: center;
  text-align: center;  
}
.btn_retornar a{
  color:#f9f9f9; 
  text-decoration: none;
  text-align: start;
  text-align: center;  
}
/*Página do Obrigado*/
main{
 display: flex;
 align-items: center;
 justify-content: center;
 min-height: 100vh;
 
 flex-direction: column;
}
.text{
  font-size: 45px;
  color: #f5f5f5;
  margin-bottom: 30px;
}
.paragrafo{
  color: #f5f5f5;
  margin-bottom: 50px;
}


/* Fim form contato */








  @media (max-width: 760px) {
    .hamburger {
      display: block;
      z-index: 1;
    }
    .nav-list {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background:#3b0f14;
      clip-path: circle(100px at 90% -15%);
      transition: 1s ease-out;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 0;
      pointer-events: none;
    }
    .nav-list a {
      font-size: 24px;
      opacity: 0;
    }
    .nav-list li:nth-child(1) a {
      transition: 0.5s 0.2s;
    }
    .nav-list li:nth-child(2) a {
      transition: 0.5s 0.4s;
    }
    .nav-list li:nth-child(3) a {
      transition: 0.5s 0.6s;
    }
    .nav.active .nav-list {
      clip-path: circle(1500px at 90% -15%);
      pointer-events: all;
    }
    .nav.active .nav-list a {
      opacity: 1;
    }
    .nav.active .hamburger {
      position: fixed;
      top: 26px;
      right: 16px;
      border-top-color: transparent;
    }
    .nav.active .hamburger::before {
      transform: rotate(135deg);
    }
    .nav.active .hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }
  
  /* inicio form footer */
  footer{
    width: 100%;
    color: var(--color-neutral-40);

}

.footer_link{
  text-decoration: none;
}

footer .logo_redonda{
  width: 150px;
  position: relative;
  left: 5%;
  top: -15%;
 
}
.footer_paragrafo{
  color: red;
}
#footer_content{
  background-color: var(--color-neutral-10);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}
#footer_contacts p{
  margin-left: 0px;
  height: 30px;

  
}
#footer_social_media{
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

}
#footer_social_media .footer_link{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width:  2.5rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
  transition: all 0.4s;

  
}
#menor_idade{
  height: 2.5rem;
  width:  2.5rem;
  border-radius: 50%;
}
#footer_social_media .footer_link{
  font-size: 1.50rem;
}    
#footer_social_media .footer_link:hover{
  opacity: 0.8;
  
}

#instagram{
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}
#facebook{
  background-color: #4267b3;
}
#whatsapp{
  background-color: #25d362;
}
.footer_list{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;

}
.footer_list .footer_link{
  color: var(--color-neutral-30);
  
}
.footer_list .footer_link:hover{
  color:#7f37c9 ;
  transition: all 0.4s;


}
#footer_subscribe{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  
}
#footer_subscribe p{
  /* horario de atendimento */
  color: var(--color-neutral-30);
  font-family: 'Inter',sans-serif;
  font-size: 16px;
 

}
#input_group{
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-0);
  border-radius: 4px;

}
#input_group input{
  all: unset;
  padding: 0.75rem;
  width: 100%;
  
}

#input_group button{
  background-color: #7f37c9;
  border: none;
  color: var(--color-neutral-40);
  padding: 0px 1.25rem;
  font-size: 1.5rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}  
#input_group button:hover{
    
  opacity: 0.8;

}

#footer_copyright{
  display: flex;
  justify-content: center;    
  background-color: var(--color-neutral-0);
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}  


@media screen and (max-width:768px) {
  #footer_content{
      grid-template-columns: repeat(2,1fr);
      gap: 2rem
  }
}
@media screen and (max-width:426px) {
  #footer_content{
      grid-template-columns: repeat(1,1fr);
      padding: 3rem 2rem;
  }
}
