@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --color-neutral-0: #0e0c0c;
  --color-neutral-10: #171717;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;
}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.back02 {
  background-image: url(/img/backcontact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  position: relative;
  width: 500px;
  height: 680px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #1d1d2e;
  border-radius: 15px;
  padding: 10px 45px;
  margin-top: 1%;
  margin-left: 7%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 44px, rgba(0, 0, 0, 0.3) 0px 7px 133px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

section h2 {
  font-size: 2.5rem;
  color: var(--color-neutral-40);
  margin: 2rem;
}

section form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

form.contato label {
  font-size: 12px;
  color: var(--color-neutral-40);
  margin-bottom: 4px;
}

label {
  position: relative;
  margin-bottom: .05rem;
}

form.contato input {
  font-size: 14px;
  border-radius: 6px;
  outline: none;
  border: 0;
  padding: 15px;
  margin-bottom: 5px;
  transition: all 0.3s ease;
}

form.contato input:focus {
  border-radius: 10px;
}

.helper-text {
  /*mensagem de erro*/
  display: none;
  font-size: .8rem;
  color: rgb(7, 139, 0);
  padding: 10px;
}

.required-popup::after {
  content: "*Campo obrigatório";
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  display: block;
  color: var(--color-neutral-40);
  font-size: .65rem;
  padding: .2rem .3rem;
}

input.error,
textarea.error {
  background-color: #ee4c4c;
  border: solid 2px #992020;
  color: var(--color-neutral-40);
}

input.correct,
textarea.correct {
  background-color: #4fab4f;
  border: solid 2px #206620;
  color: var(--color-neutral-40);
}

.visible {
  display: block;
}

form.contato textarea {
  font-size: 14px;
  border-radius: 6px;
  outline: none;
  border: 0;
  padding: 10px;
  transition: all 0.3s ease;
}

form.contato textarea:focus {
  border-radius: 10px;
}

form.contato button {
  font-size: 14px;
  color: var(--color-neutral-40);
  background: transparent;
  border: 2px solid var(--color-neutral-40);
  border-radius: 5px;
  padding: 15px;
  margin: 20px 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

form.contato button:hover {
  color: var(--color-neutral-40);
  background: #660303;
  border-radius: 5px;
}

/* inicio botoes contato */
.botao_form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  text-align: center;
}

.btn_retornar:hover {
  color: var(--color-neutral-0);
  text-align: center;
  align-items: center;
}

.btn_retornar a {
  color: #f9f9f9;
  text-align: center;
  text-decoration: none;
}