/* Página de produtos */
* {
  font-family: "Lato" sans-serif;
  text-decoration: none;
  
}

.produtosbackgroud {
  background-color: #360d12d8;
  background-image: url(/img/wallhere2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: url(filters.svg#filter) blur(2px) brightness(40%);
}

.border {
  background-color: #20080be9;
  border: #ffffff solid 2px;
  border-radius: 8px;
  padding: 20px;
  margin-top: 35px;
  margin-left: 35px;
  margin-right: 35px;
  text-align: center;
}

.h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #ffffff;
  padding: 0px;
  margin: 0px;

}

.products_initial {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  justify-content: center;
  color: #ffffff;
  width: 100%;
  margin: 8px;
  padding: 20px;
}

.comments_products {
  display: flex;
  flex-direction: column;
  text-align: right;
  border: #ffffff solid 2px;
  background-color: #20080be9;
  border-radius: 20px;
  color: #ffffff;
  font-size: 16px;
  width: 75%;
  gap: 10px;
  margin: 15px;
  padding: 15px;
}

.products_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px;
  margin: 0;
  list-style: none;
  gap: 1rem;
  width: 90%;
}

.click_products {
  display: block;
  justify-content: space-between;
  background-color: #20080be9;
  font-size: 20px;
  color: #f5f5f5;
  padding: 3px;
  margin: 25px;
  list-style: none;
  align-items: center;
  border: 2px #450017 solid;
  border-radius: 2%;
  gap: 2rem;
}

.click_products:hover{
  transform: scale(1.05);
  transition: all ease 0.3s;
}

.center_icon {
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 5px;
  margin: 10px;
  border-radius: 3%;
  position: relative;
}

.center_icon::after {
  content: " ";
  width: 0%;
  height: 1px;
  background-color: #eae4e4;
  position: absolute;
  top: -5px;
  left: 0;
  transition: 0.5s ease-in-out;

}

.center_icon:hover::after {
  width: 100%;
}

.center_icon2 {
  text-align: center;
  padding: 5px;
}

.img_wine {
  border-radius: 8px;
  width: 320px;
}

.img_wine:hover {
  filter:brightness(50%);
  transition: all ease-in 0.2s;
}


@media screen and (max-width:320px) {
  .borda {
    font-size: 12px;

  }
}

/* FIM DA PÁGINA DE PROTUDOS */