/* Página de produtos */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --color-neutral-0: #0e0c0c;
  --color-neutral-10: #171717;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;
  --color-neutral-50: #8e3051;
  --color-neutral-60: #20080be9;
  --color-neutral-70: #450017;


}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.produtosbackgroud {
  background-color: var(--color-neutral-50);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: url(filters.svg#filter) blur(2px) brightness(100%);
}

.border {
  background-color: var(--color-neutral-60);
  border: 2px solid var(--color-neutral-40);
  text-align: center;
  border-radius: 8px;
  padding: 20px;
  margin: 35px 35px 0 35px;
}

.h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--color-neutral-40);
}

.products_initial {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  justify-content: center;
  color: var(--color-neutral-40);
  margin: 8px;
  padding: 20px;
}

.comments_products {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid var(--color-neutral-40);
  background-color: var(--color-neutral-60);
  border-radius: 20px;
  font-size: 16px;
  text-align: right;
  color: var(--color-neutral-40);
  margin: 15px;
  padding: 15px;
}

.products_list {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  list-style: none;
}

.click_products {
  display: block;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  font-size: 20px;
  color: var(--color-neutral-40);
  background-color: var(--color-neutral-60);
  border: 2px solid var(--color-neutral-70);
  border-radius: 2%;
  padding: 3px;
  margin: 25px;
  list-style: none;
  transition: all 0.3s ease;
}

.click_products:hover {
  transform: scale(1.02);
}

.center_icon {
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  margin: 10px;
  border-radius: 3%;
}

.center_icon::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: var(--color-neutral-40);
  transition: all 0.3s ease;
}

.center_icon:hover::after {
  width: 100%;
}

.center_icon2 {
  text-align: center;
  padding: 5px;
}

.img_wine {
  width: 320px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.img_wine:hover {
  filter: brightness(50%);
}

@media screen and (max-width:320px) {
  .borda {
    font-size: 12px;
  }
}

/* FIM DA PÁGINA DE PRODUTOS */